Body {
    background-image: url(https://scontent.fman2-1.fna.fbcdn.net/v/t1.0-9/118442374_3845926495422520_3250489779740458979_o.jpg?_nc_cat=102&_nc_sid=730e14&_nc_ohc=UmFSRUwTRK4AX_xjemE&_nc_ht=scontent.fman2-1.fna&oh=a90e0f42e6057e83e99bd731d7d6aab1&oe=5F93AF31);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.page-container {
    background-color: white;
    flex: 1;
    width: 65%;
    margin: 2vh auto;
    border-radius: 15px;
    min-height: 96vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}