Body {
    background-color: mistyrose;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.home-container {
    width: 80%;
    margin-top: 5%;
}

.header {
    width: 100%;
    background-color: white;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    align-items: center;
    vertical-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    padding: 10px;
    z-index: 1;
    position: fixed;
    top: 0;
}

.header a {
    color: lightslategray;
    text-decoration: none;
    margin: 0px 3%;
    font-size: xx-large;
}

.header a:hover {
    color: darksalmon;
    cursor: pointer;
}

.name {
    margin-top: 1%;
    font-size: 600%;
    vertical-align: center;
    text-align: center;
    color: #a84a4a;
    font-family: 'Dawning of a New Day', cursive;
}

.name #getting-married {
    margin-top: -5%;
    font-size: 30%;
}

#countdown {
    visibility: hidden;
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 7%;
}

#countdown-timer {
    margin: auto;
}

#countdown-timer div {
    display: inline-block;
}

.countdown-box {
    font-size: 200%;
    padding: 5px 20px 0px 20px;
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: grey;
    font-family: 'Coming Soon', cursive;
}

.countdown-labels {
    width: 100%;
    color: darksalmon;
    font-size: large;
    font-family: 'Coming Soon', cursive;
}

#days {
    margin-left: 9%;
    margin-right: 18%;
}
#hours {
    margin-left: 10%;
    margin-right: 11%;
}
#minutes {
    margin-left: 11%;
}

.page-container {
    background-color: white;
    flex: 1;
    width: 65%;
    margin: 0px auto;
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-container {
    padding: 10%;
    font-size: large;
    font-family: 'Coming Soon', cursive;
}

.content-container h1 {
    margin-top: 5%;
    color: darksalmon;
}

.content-container li {
    list-style-type: none;
}